.ly-time i{
	font-size: 14px;
	padding-left: 20px;
	font-weight: normal;
}
.ly-time a{
	float: right;
	padding-right: 20px;
	font-weight: normal;
}
.ly-time{
	font-weight: bold;
	font-size: 16px;
}
.ly-shadow{
   box-shadow: 0px 0px 2px 1px #464646;
}
.ly-bullet_star{
	color:white;
	display:inline-block !important;
	padding-left:30px;
	background-position:left center;
	margin-right: 15px;
	background: url("icons/32/bullet_star.png") no-repeat;
	font-size: 18px;
}

.ly-clear{
	clear: both;
}
/*12018 12-9日 增加 table样式与时间选择器样式*/
table{
	color:white !important;
	font-size: 16px;
}
table th{
	font-weight: bold;
}
.ly-select-time{
	display:inline-block;
	margin-left: 30px;
}
.ly-select-time span{
	color:white;
	margin-left: 10px;
}
.ly-select-time select{
	margin-left: 10px;
}
.ly-select-device{
	display:inline-block;
}
.ly-select-device span{
	color:white;
	margin-left: 10px;
}
.ly-select-device select{
	margin-left: 10px;
}
.sim{
	width: 32px;
	height: 32px;
	background: url("../../images/sim.png") center center no-repeat;

}

.simdata{
	color: white;
    background: url(../../images/sim.png) left center no-repeat;
    padding-left: 50px;
    background-size: 50px 50px;
    float:right;
	margin-right: 10px;
}
.doorDistance{
	margin-left: 10px;
	margin-top: 4px;
}